*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#text{
    color: #111;
    text-align: center;
}
ul{
    list-style: none;
}
a{
    text-decoration:none ;
    color: inherit;    
}
body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #e8f0f7;
    height: 5000px;
    padding-top: 60px;
}
.header{
    background-color: #111;
    position: fixed;
    width: 100%;
    top:0;
}
.header_content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    min-height: 60px;
}
.logo{
    color:#fff;
    font-size: 23px;
    letter-spacing: -1.5px;
    font-weight: 500px;
}
.navbar{
    transition: all 0.2s ease-in-out;
}
.nav_list{
    display: flex;
    column-gap: 40px;
}
.nav_link{
    color: rgba(255, 255, 255,1); 
    font-size: 15px ;
    transition:all 0.4s;
}
.nav_link:hover,
.nav_link:focus{
    color: rgba(255, 255, 255, 2);
}
.hamburger{
    display: none;
    cursor:pointer;
}
.bar{
    height: 2px;
    width: 27px;
    background: #fff;
    margin: 5px 0;
    opacity: 0.8;
    transform: all 0.3s ease-in-out ;
}

.navbar--open{
    transform: translate(0)!important;
}

.hamburger--open .bar:nth-child(1){
    transform: translateY(7px) rotate(45deg);
}
.hamburger--open .bar:nth-child(2){
    opacity: 0;
}
.hamburger--open .bar:nth-child(3){
    transform:translateY(-7px) rotate(-45deg);
}
.sidebar{
    position: fixed;
    top: 60px;
    left: 0;
    width: 240px;
    height: 100%;
    background-color: #111;
    padding-top: 60px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
.menu{
    color: #fff;
    font-weight: 800;
    text-align: center;
    padding: 10px;
    padding-right: 50px;
    pointer-events: none;
}

ul{
    list-style: none;
    padding: 0;
} 
ul li{
    margin-bottom: 10px;
}
ul li a{
    display: block;
    align-items: center;
    gap: 12px;
    padding: 12px 20px;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}
ul li:hover a{
    background-color: #222;
}
i{
    font-size: 18px;
    width: 22px;
}
.hero{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    background: radial-gradient(
    circle at top right,  
    #1b95f3, 
    transparent 60%),
    linear-gradient(135deg,#083749,#083749);
}
.hero_content{
    text-align: center;
    max-width: 700px;
}
.hero h1{
    font-size: 3rem;
    font-weight: 700;
    color: #e5e7eb;
    margin-bottom: 20px;
}
.hero p{
    font-size: 1rem;
    font-weight: 700;
    color: #9ca3af;
    margin-bottom: 35px;
}
.hero_buttons{
    display: flex;
    gap: 20px;
    justify-content: center;
}
.hero_buttons .btn{
    padding: 12px 28px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: 500;
    transition: all 0.3s ease;
    background-color: #6c7174;
    counter-reset: #fff;
}
.hero_buttons .btn:hover{
    background-color: #012b3f;
} 
@media (max-width: 650px){
    .navbar{
        position:fixed;
        top:60px;
        left:0;
        background-color: #111;
        width: 100%;
        padding: 10px 0 25px;
        transform: translateX(-100%);
    }
    .nav_list{
        flex-direction: column;
        align-items: center;
        row-gap: 20px;
    }
    .nav_link{
        font-size: 14px; 
    }
    .hamburger{
        display:block;
    }
    .sidebar{
        left: -240px;
        transition: left 0.3s ease;
    }
    .sidebar--open{
        left: 0;
    }
    .hero h1{
        font-size: 2.2rem;
    }
    .hero_buttons{
        flex-direction: column;
    }
}

